td {
    padding-right: 2rem;
    padding-top: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.dropdown {
    text-align: right;
    cursor: pointer;
}

.lesson-name {
    font-weight: bolder;
}