@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

p {
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.time-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-display {
    display: flex;
    justify-content: space-evenly;
}

.countdown-value {
    display: grid;
    place-items: center;
    padding: 1rem;
    color: #09451B;
}

.time{
    font-size: 128px;
    margin: 0;
    margin-right: 3rem;
}

span {
    font-size: 12px;
}

.countdown-name, 
.countdown-date {
    text-align: center;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8rem;
}
