.container {
    border: #B8B8B8 1px solid;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.score-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action button {
    width: fit-content;
    height: fit-content;
    background-color: #6F9C5A;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.score-topic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.disabledButton {
    background-color: #939695 !important;
    cursor: not-allowed !important;
  }
  