.content-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.content-panel {
    width: 87%;
    margin-top: 2rem;
}

.header {
    margin-bottom: 2rem;
}

.sec-panel {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.score-container {
    width: 100%;
    padding: 2rem;
    border: #B8B8B8 1px solid;
    padding-top: 1rem;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

.study-progress {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
}